// colors
$primary: hsl(180, 58%, 4%);
$secondary: hsl(129, 57%, 33%);

$success: hsl(135, 59%, 41%);
$info: hsl(174, 62%, 47%);
$warning: hsl(35, 100%, 55%);
$danger: hsl(353, 81%, 51%);

$light: hsl(180, 100%, 99%);
$dark: hsl(180, 13%, 20%);
$dark-less: hsl(180, 5%, 30%);
$gray-96: hsl(174, 62%, 97%);
$gray-60: hsl(180, 13%, 60%);

$brand-1: hsl(356, 100%, 65%);
$brand-2: hsl(126, 100%, 65%);
$brand-3: hsl(206, 100%, 65%);
$brand-4: hsl(52, 100%, 65%);

$body-bg: hsl(100, 100%, 99%);
$body-color: hsl(207, 95%, 8%);

// spacings
$grid-gutter-width: rem(16px);
$golden-ratio: 1.61803398875;

// shapes
$step-width: 40px;

// animations
$marble-animation-duration: 400;
