// colors
$primary: hsl(129, 57%, 70%);
$secondary: hsl(206, 57%, 70%);

$success: hsl(135, 59%, 41%);
$info: hsl(174, 62%, 47%);
$warning: hsl(35, 100%, 55%);
$danger: hsl(353, 81%, 51%);

$light: hsl(180, 100%, 99%);
$dark: hsl(180, 13%, 20%);
$dark-less: hsl(180, 5%, 30%);
$gray-97: hsl(174, 62%, 97%);
$gray-60: hsl(180, 13%, 60%);

$brand-1: hsl(356, 100%, 65%);
$brand-2: hsl(126, 100%, 65%);
$brand-3: hsl(206, 100%, 65%);
$brand-4: hsl(52, 100%, 65%);

$brand-5: hsl(47, 100%, 50%);
$brand-6: hsl(135, 100%, 50%);
$brand-7: hsl(270, 100%, 50%);

$body-bg: hsl(35, 100%, 98%);
$body-color: hsl(207, 95%, 8%);
$link-color: $brand-7;
$link-hover-color: darken($link-color, 15%);

// spacings
$grid-gutter-width: rem(16px);
$golden-ratio: 1.61803398875;

// shapes
$board-width: 576px;
$step-width: 8.33333333333%;
$step-gutter: 0.83333333333%;

// animations
$marble-animation-duration: 300;

// typography
$font-family-sans-serif: 'Open Sans', sans-serrif;